<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <link rel="stylesheet" href="/css/index.css?x47602">

    <title>Player</title>
</head>

<body>
    <a href='/home'>Home</a>
    <h1>Audio Player</h1>
    <h2><%=song.name%></h2>
    <h2><%=song.contributor%></h2>
    <div id="waveform"></div>
    <div id="controls">
        <button class="btn btn-primary" data-action="play" onclick="wavesurfer.playPause()">
            <i class="glyphicon glyphicon-play"></i>
            Play
            /
            <i class="glyphicon glyphicon-pause"></i>
            Pause
        </button>
    </div>
</body>

<script src="https://unpkg.com/wavesurfer.js"></script>
<script>
    var wavesurfer = WaveSurfer.create({
        container: '#waveform',
        scrollParent: true,
        waveColor: 'violet',
        progressColor: 'purple'
    });

    wavesurfer.load("<%=song.link%>");
</script>

</html>